/* ===============
   AIN COLORS
================*/
:root {
      --dark-purple: #7b42ff;
      --medium-purple: #c3c2ff;
      --light-purple: #eeeeff;
      --dark-teal: #288c89;
      --teal: #54d1ca;
      --light-teal: #e6fffb;
      --dark-text: #3f3f3f;
      --white-text: #ffffff;
      --light-border: #e6e8e8;
    }
    .dark-purple{background-color: #7b42ff;}
    .medium-purple{background-color: #c3c2ff;}
    .light-purple{background-color: #eeeeff;}
    .dark-teal{background-color: #288c89;}
    .teal{background-color: #54d1ca;}
    .light-teal{background-color: #e6fffb;}
    .dark-text{background-color: #3f3f3f;}
    .white-text{background-color: #ffffff;}
/* ===============
   END AIN COLORS
================*/

/* ===============
   FORM STYLES - AI NATIVE
================*/
.mktoForm * {
    font-family: Montserrat, Arial, sans-serif;
    font-size: inherit !important;
}
.mktoForm p {
    font-size: 14px;
}
form {
    width: auto !important;
}

.marketo-form-container{
  border-radius: 1.5rem !important;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px -10px rgba(5,57,71,.5);
  margin-top: -20px !important;
  width: 100%;
  padding: 3%;
  max-width: 580px;
}
.mktoForm .mktoRadioList {
    width: 100% !important;
    margin: 10px 0 0 15px !important;
}
.mktoForm .mktoFieldWrap {
    float: none;
    font-family: usual, Arial, sans-serif;
}
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none;
}
.mktoForm .mktoFormRow {
    display: block;
}
.mktoForm fieldset.mktoFormCol .mktoFormRow {
    float: none;
    display: flex;
    flex-basis: 50%;
    column-gap: 0px !important;
    border-width: 0;
    padding-bottom: 14px;
}
fieldset.mktoFormCol legend {
    display: none;
}
.mktoForm .mktoFormCol {
    float: none;
    display: block;
  padding: 0 10px !important;
}
.mktoForm .mktoFieldDescriptor {
    flex-basis: 100%;
}
.mktoForm .mktoFieldDescriptor label.mktoLabel {
    float: none;
    width: 100%;
}
.mktoClear {
    display: none;
}
.mktoHtmlText,
.mktoCaptchaDisclaimer {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #3f3f3f;
}
.mktoHtmlText p,
.mktoCaptchaDisclaimer p {
    /* margin-bottom: 6px !important; */
}

/* Form Title */
.mktoHtmlText.mktoHasWidth{
  text-align: center;
    font-size: 20px !important;
    line-height: 1em;
    width: 90% !important;
    margin: auto;
}
.mktoHtmlText.mktoHasWidth sup{
  top: 0 !important;
  padding: 0px !important;
}

/* Form Labels */
.mktoForm label,
.mktoForm label strong{
    display: block;
    float: none !important;
    width: auto !important;
	margin: 0 !important;
	font-weight: normal !important;
	font-size: 16px !important;
    align-self: center;
}
.mktoForm .mktoAsterix{
	float:left !important;
    padding-right: 4px;
  display: none !important;
}

/* Input Fields */
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    width: 100% !important;
    float: none !important;
	padding: 8px !important;
	border-radius: .5rem !important;
	background-color:transparent !important;
	color:#3f3f3f !important;
    border: 1px solid #3f3f3f !important;
    font-size: 15px !important;
  line-height: 25px;
  height: 50px;
}
.marketo-form-container .mktoForm .mktoRadioList > label,
.marketo-form-container .mktoForm .mktoCheckboxList > label {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
      font-size: 12px !important;
  font-family: Montserrat, Arial, sans-serif !important;
}

.marketo-form-container .mktoForm .mktoFieldWrap #LblUnsubscribed{
  margin-left: 20px !important;
}

.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus{
	border: 1px solid #3f3f3f !important;
}

.mktoForm input[type=text]::placeholder,
.mktoForm input[type=url]::placeholder,
.mktoForm input[type=email]::placeholder,
.mktoForm input[type=tel]::placeholder,
.mktoForm input[type=number]::placeholder,
.mktoForm input[type=date]::placeholder,
.mktoForm select.mktoField::placeholder,
.mktoForm textarea.mktoField::placeholder{
  color: #8a8a8a !important;
}

.mktoForm select.mktoField {
    margin-top: 0px;
}
.mktoForm a {
    color: #3f3f3f;
    text-decoration: underline;
}
.mktoForm a:hover,
.mktoForm a:focus,
.mktoForm a:active {
    color: #000000;
    text-decoration: underline;
}
/* SUBMIT BUTTON */
.mktoForm .mktoButtonRow {
    padding-top: 32px;
  display: flex !important; 
}
.mktoForm span.mktoButtonWrap{
  margin: auto !important;
  width: 100% !important;
}

.mktoForm button.mktoButton{
    background: #7b42ff!important;
    border-radius: 30px !important;
    border-width: 0 !important;
    padding: 12px 30px !important;
    text-shadow: none !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    position: relative !important;
    display: block !important;
    width: 100% !important;
	margin:auto;
	transition: .35s all ease-in-out;
}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background: #c3c2ff !important;
}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:after {
    display: inline-block;
    margin-left: .5rem;
    background-color: #fff;
    content: "i";
    display: none;
    height: 1em;
    -webkit-mask-image: var(--salsa-button-icon);
    mask-image: var(--salsa-button-icon);
    vertical-align: text-bottom;
    width: 1em;
}
.mktoForm .mktoRadioList > label, .mktoForm .mktoCheckboxList > label{
	margin-bottom: 0.5rem !important;
}
@media (max-width: 781px) {
.mktoForm fieldset.mktoFormCol .mktoFormRow {
    display: block !important;
}
  .mktoForm .mktoFormCol {
  padding: 0px !important;
}
  .mktoForm fieldset.mktoFormCol .mktoFormRow {
    padding-bottom: 0px !important;
  }
  .marketo-form-container .mktoForm .mktoRadioList > label,
.marketo-form-container .mktoForm .mktoCheckboxList > label {
    margin-left: 0px !important;
}
  .mktoForm .mktoRadioList {
    margin: 10px 0 0 0px !important;
}
  .marketo-form-container .mktoForm .mktoFieldWrap #LblUnsubscribed{
  margin-left: 0px !important;
}
  .marketo-form-container{
    margin-top: -30px !important;
  }
  input#mktoRadio_41725_0, input#mktoRadio_41725_1{
    margin-right: 5px !important;
  }
  .mktoHtmlText.mktoHasWidth{
    width: 100%;
  }
}